@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}


*{
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 20px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    height: 100%;;
}

.logo img{
    width: 20%;
}

.nav-lnks{
    width: 20%;
    display: flex;
    float: right;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-right: 3%;
    
}

.lnk{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.nav-lnks a:hover{
    color: orange;
    text-shadow: 1px 1px 20px orange;
}

.header{
    background: url(img/back.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    width: 100wh;    
}


.header-text{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.other{
    font-size: 128px;
    font-weight: 1000;
    display: inline-block;
    color: white;
}

.orange{
    color: orange;
}

.about{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.about-h1{
    
    display: inline-block;
    margin-top: 50px;
    font-size: 56px;
}

.about p{
    margin-top: 20px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
}

.rules h1{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.rules p{
    width: 60%;
    font-size: 24px;
    text-align: center;
    margin: 0px auto 30px auto;
    line-height: 25px;
    
}

.pk{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.rl{
    color: orange;
    text-decoration: underline;
    text-shadow: 1px 1px 20px orange;
}

.dp{
    width: 60%;
    margin: 0px auto 0px auto;
}

.ip{
    margin-top: 70px;
    text-align: center;
    font-size: 112px;
}


@media(max-width:1200px){
    .ip{
        font-size: 30px;
    }
    
    .other{
        font-size: 50px;
    }
    
    .lnk{
        font-size: 10px;
    }
    
    .nav-lnks{
        width: 80%;
    }
}